.container {
  border-top: 1px solid #d6d6d6;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 10vh;
  width: 60%;
  color: white;
}

.intro {
  margin: 1rem 0;
  font-size: 16px;
}

.container h1 {
  font-weight: 400;
  text-decoration: underline;
  font-size: 30px;
  letter-spacing: 1.5px;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

.container p {
  line-height: 1.6;
  margin-top: 2rem;
  font-size: 16px;
  color: rgb(218, 218, 218);
}

.list {
  list-style: none;
  margin-top: 3em;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 1.5rem;
  width: 100%;
  justify-items: center;
}

.card {
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background: #fff;
  color: rgb(14, 14, 14);
  width: 100%;
  box-sizing: border-box;
}

.card p {
  color: black;
}

.link {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.topicContainer {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.back {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
}

.buttonContainer {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}

.buttonContainer button {
  background-color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;

  letter-spacing: 1.5px;
}

.buttonContainer button:hover {
  background-color: #c4c4c4;
  color: black;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.arrowIcon {
  padding-top: 5px;
  font-size: 16px;
}

@media (max-width: 1025px) {
  .container {
    width: 80%;
    gap: 1rem;
  }

  .list {
    list-style: none;
    margin-top: 3em;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
  }

  .container p {
    line-height: 1.6;
    margin-top: 1rem;
    font-size: 16px;
  }
}

@media (min-width: 1020px) and (max-width: 1900px) {


  .list{
    display: flex;
    flex-wrap: wrap;

  }
}