.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
  color: #a3a3a3;
}

.introText {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.introText h1, .introText h2 {
  font-weight: 400;
  font-size: 60px;
}



.introText p {
  width: auto;
  font-size: 30px;
  line-height: 1.5;
}

.container hr {
  border: none;
  height: 1px;
  background-color: #d6d6d6;
  width: auto;
}

.introProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1rem; */
}

.introProjects a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introProjects p {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  border-right: 1px solid #d6d6d6;
  font-size: 25px;
  padding-top: 3vh;
}

.faIcon {
  font-size: 2.5rem;
}

@media (max-width: 1025px) {
  .introText h1, .introText h2 {
  
    font-size: 30px;
  }

  .introText p {
   
    font-size: 16px;
   
  }

  .faIcon {
    font-size: 1.5rem;
  }
}
