.container {
  border-top: 1px solid #d6d6d6;
  padding: 1rem 3rem;
  max-width: 60%;
  margin: 5vh auto;
  color: rgb(221, 221, 221);
}

.intro {
  margin: 1.5rem 0;
  font-size: 20px;
}

.container h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 600;
}

.list {
  list-style: none;
  margin-top: 2em;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 1.5rem;
  width: 100%;
  justify-items: center;
}

.card {
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background: #fff;
  color: rgb(14, 14, 14);
  width: 100%;
  box-sizing: border-box;
}

.card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.link {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.1rem;
}

.topicContainer {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.back {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
}


.buttonContainer{
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}

.buttonContainer button{
  background-color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;

  letter-spacing: 1.5px;

}

.arrowIcon{
  padding-top: 5px;
  font-size: 16px;
}


@media (max-width: 1025px) {
  .container {
    max-width: 100%;
    padding: 1rem 2rem;
  }

  .list {
  list-style: none;
  margin-top: 2em;
  padding: 0;
  display: flex;
  flex-direction: column;}
}